---
layout: page
title: "Welcome to the official website of JUGMK!"
---

{% include about.html %}

<h1>JavaSkop'19 is a go!</h1>
<p style="text-align: center; ">
<!--   <a href="http://jug.mk/javaskop18"> -->
  <a href="http://jug.mk/java-day/2019/01/08/javaskop-2019-cfp.html">
    <img src="/images/JavaSkop.png" style="width: 100%;"/>
  </a>
</p>
<!-- <p>JavaSkop '18 will take place on March 31st at Cineplexx, Skopje City Mall. Go to the <a href="http://jug.mk/javaskop18">event page</a> for details.</p> -->
<p>The CFP for JavaSkop'19 is open. Go to the <a href="http://jug.mk/java-day/2019/01/08/javaskop-2019-cfp.html">detail blogpost</a> for more information. The deadline is February 20th.</p>

{% include latest_events.html %}
