---
layout: page
title: "Welcome to the official website of JUGMK!"
---

{% include about.html %}

<h1>JavaSkop'17 is a go!</h1>
<p style="text-align: center; ">
  <a href="http://jug.mk/event/java-day/2017-03-11-javaskop.html"><img src="/images/JavaSkop.png" style="width: 100%;"/>
  </a>
  <br/>
</p>
<p>JavaSkop '17 will happen on March 11th at Cineplexx Skopje. Go the the <a href="http://jug.mk/event/java-day/2017-03-11-javaskop.html">offical page</a> for more details.</p>

{% include latest_events.html %}
