---
layout: page
title: "Welcome to the official website of JUGMK!"
---

{% include about.html %}

<h1>JavaSkop'20 is a go!</h1>
<p style="text-align: center; ">
  <!--<a href="http://jug.mk/javaskop20">-->
   <a href="http://jug.mk/java-day/2022/12/25/javaskop-2023-cfp.html"> 
    <img src="/images/JavaSkop.png" style="width: 100%;"/>
  </a>
</p>
<!-- <p>JavaSkop '19 will take place on March 30st at Cineplexx, Skopje City Mall. Go to the <a href="http://jug.mk/javaskop19">event page</a> for details.</p> -->
<p>The CFP for JavaSkop'23 is open. Go to the <a href="http://jug.mk/java-day/2022/12/25/javaskop-2023-cfp.html">detail blogpost</a> for more information. The deadline is February 23rd.</p> 

{% include latest_events.html %}
