<h3>Organized events</h3>
{% assign events = site.event | sort: 'date' | reverse %}
{% for event in events %}
    {% capture this_year %}{{ event.date | date: "%Y" }}{% endcapture %}

    {% if this_year != prev_year %}
    <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
    {% endif %}

    <h4><a href="{{ event.url }}"><i class="fa fa-angle-right"></i> {{ event.title }}</a></h4>
    <p>{{ event.date | date_to_long_string }}, {{ event.location }}</p>

    {% assign prev_year = this_year %}
{% endfor %}
