<header>
  <div class="blog-masthead">
    <div class="container">
      <div id="logo">
        <a href="/">
          <img src="/images/logo.png">  
        </a>
      </div>

      <nav class="blog-nav pull-right">
        <a class="blog-nav-item {% if page.url == "/index.html" %}active{% endif %}" href="/">Home</a>
        <a class="blog-nav-item {% if page.url contains "/events" %}active{% endif %}" href="/events">Events</a>
        <a class="blog-nav-item {% if page.url contains "/contact" %}active{% endif %}" href="/contact">Contact</a>
        <a class="blog-nav-item {% if page.url contains "/gallery" %}active{% endif %}" href="/gallery">Gallery</a>
        <a class="blog-nav-item {% if page.url contains "/about" %}active{% endif %}" href="/about">About</a>
      </nav>
    </div>
  </div>
</header>
