<header>
  <div class="blog-masthead">
    <div class="container">
      <div id="logo">
        <a href="/">
          <img src="/images/logo.png">  
        </a>
      </div>

      <nav class="blog-nav pull-right">
        <a class="blog-nav-item {% if page.url == "/index.html" %}active{% endif %}" href="/">
        <i class="fa fa-fw fa-home"></i></a>
        <a class="blog-nav-item {% if page.url contains "/events" %}active{% endif %}" href="/events">
        <i class="fa fa-fw fa-calendar"></i> Events</a>
        <a class="blog-nav-item {% if page.url contains "/blog" %}active{% endif %}" href="/blog">
        <i class="fa fa-fw fa-pencil"></i> Blog</a>
        <a class="blog-nav-item {% if page.url contains "/contact" %}active{% endif %}" href="/contact">
        <i class="fa fa-fw fa-share-alt"></i> Contact</a>
        <a class="blog-nav-item {% if page.url contains "/gallery" %}active{% endif %}" href="/gallery">
        <i class="fa fa-fw fa-photo"></i> Gallery</a>
        <a class="blog-nav-item {% if page.url contains "/about" %}active{% endif %}" href="/about">
        <i class="fa fa-fw fa-info"></i> About</a>
      </nav>
    </div>
  </div>
</header>
