<h2>JUGMK Log</h2>
<dl>
  <dt>
    <h3>The Beginning</h3>
  </dt>
  <dd>The first regular meeting of the Macedonian JUG took place in May 2008. First and founding president of the group was <b>Ice Penov</b>.</dd>
  <dt>
    <h3>First Java Day</h3>
  </dt>
  <dd>
    On 18 December 2010 we organized the first one day conference on Java technology called
    <a href="/event/java-day/2010-12-18-java-day.html">Java Day</a>. The conference had 9 presentations
    from 10 speakers and was attended by more then 60 participants.
  </dd>
  <dt>
      <h3>Java 7 Macedonia</h3>
  </dt>
  <dd>
      On 20 July 2011 we organized special <a href="/event/other/2011-07-20-java-7-macedonia.html">event</a> 
      for the Java 7 launch day with a specual guest Simon Ritter.
  </dd>
  <dt>
    <h3>10 years Eclipse Birthday Party</h3>
  </dt>
  <dd>
    On 23 November 2011, we organized <a href="/event/other/2011-11-23-10-years-eclipse.html">event</a> to celebrate the 10 years of one of
    favorites IDE of Java people Eclipse.
  </dd>
  <dt>
    <h3>Java Day #2</h3>
  </dt>
  <dd>

    23th of February 2013 was the date for the <a href="/event/java-day/2013-02-23-java-day.html">seccond java day</a>.
    The conference also had 9 presentations from 10 speakers.
  </dd>
  <dt>
    <h3>Java Day #3</h3>
  </dt>
  <dd>
    The <a href="/event/java-day/2013-12-22-java-day.html">third Java Day</a> was organized in the same year as the seccond on 22 December 2013. 
    It was held at Skopje City Mall, in one of the Cineplexx halls. The conference had 11 presentations from 11 presenters.
  </dd>
  <dt>
    <h3>Java Day #4</h3>
  </dt>
  <dd>
    The <a href="/event/java-day/2014-11-22-java-day.html">fourth Java Day</a> was also organized in Cineplexx and was held on 22 November 2014.
    9 presentations was presented by 9 speakers, first time with international presenece from Switzerland, Romania, Bulgaria and Serbia.
  </dd>
</dl>
