---
title:  "Java Day #1"
date:   2010-12-18 10:00:00
location: "EU Info Center"
agenda:
 - from: "10:00"
   to: "10:15"
   talk: Offical Opening
   speakers: []
 - from: "10:20"
   to: "10:50"
   talk: Flex,Java and the rest
   speakers: [0]
   index: 0
 - from: "11:00"
   to: "11:15"
   talk: Java Native Acess
   speakers: [1]
   index: 1
 - from: "11:20"
   to: "11:50"
   talk: Google App Engine for Java
   speakers: [2]
   index: 2
 - from: "11:50"
   to: "12:30"
   talk: Launch break
   speakers: []
 - from: "12:30"
   to: "13:00"
   talk: REST what they don't tell you in tutorials
   speakers: [3]
   index: 3
 - from: "13:00"
   to: "13:40"
   talk: New Languages on the JVM
   speakers: [4, 5]
   index: 4
 - from: "13:45"
   to: "14:00"
   talk: Webdav for Java
   speakers: [6]
   index: 6
 - from: "14:00"
   to: "14:30"
   talk: Comet and Java, Real time web
   speakers: [7]
   index: 7
 - from: "14:40"
   to: "15:10"
   talk: The good, the bad and the ugly, things to do with Android
   speakers: [8]
   index: 8
 - from: "15:15"
   to: "15:45"
   talk: Developing REST apps for Android
   speakers: [9]
   index: 9
---

{% include date_location_time.html %}

<p>
    Java Day is intended as small event but still it has major support by the leading companies in Information Technologies and Computer Science from Macedonia as well as EU based companies. The general idea is to have seven lecturers from experts in Java, Computer Science and related technologies. They will present new details and implementations of technologies in business and scientific development. Lectures are planned to have 60 participants who would have free access with prior registration. The participates mostly will be students and software engineers from Macedonia and neighboring countries. Priority will be given to regular JUGMK members and employees of supporting companies.    
</p>

{% assign speakers = site.data.speakers-2010 %}

{% include agenda.html %}

{% include speaker_abstract.html %}

