---
title:  "Java Day #2"
date:   2013-02-23 10:00:00
location: "Skopje Fair"
agenda:
 - from: "10:00"
   to: "10:15"
   talk: "Registration"
   speakers: []
 - from: "10:15"
   to: "10:45"
   talk: "Clean and type-safe SQL queries with QueryDSL"
   speakers: [0]
   index: 0
 - from: "10:50"
   to: "11:30"
   talk: "Corporative solutions with JTAPI (Advanced JTAPI) – CTI, Call Managers  Dialers"
   speakers: [1, 2]
   index: 1
 - from: "11:35"
   to: "12:05"
   talk: "Visualize with D3.js"
   speakers: [3]
   index: 3
 - from: "12:05"
   to: "12:35"
   talk: "ClojureScript"
   speakers: [4]
   index: 4
 - from: "12:40"
   to: "12:50"
   talk: "За програмерцките работи"
   speakers: [5]
 - from: "12:55"
   to: "13:05"
   talk: "Premature Optimization - is it normal?"
   speakers: [0]
 - from: "13:25"
   to: "14:15"
   talk: "SQL vs NoSQL - бази на екстази"
   speakers: [6, 7]
 - from: "14:20"
   to: "14:50"
   talk: Modern software development methodologies for mobile devices
   speakers: [8]
 - from: "14:55"
   to: "15:25"
   talk: Easy and Effective Security with Apache Shiro - Live coding session
   speakers: [7]
---
{% include date_location_time.html %}

{% assign speakers = site.data.speakers-2013-0 %}

{% include agenda.html %}

{% include speaker_abstract.html %}

