---
title:  "Java Day #3"
date:   2013-12-22 09:30:00
location: "Cineplexx, Skopje city mall"
agenda:
 - from: "9:30"
   to: "10:00"
   talk: "Registration"
   speakers: []
 - from: "10:00"
   to: "10:15"
   talk: "Opening JavaDay 2013#0x02"
   speakers: [0]
 - from: "10:15"
   to: "10:30"
   talk: "WebSockets in Java: from n00b to pro"
   speakers: [1]
 - from: "10:30"
   to: "10:40"
   talk: "10 min break"
   speakers: []
 - from: "10:40"
   to: "11:00"
   talk: "Continuous delivery"
   speakers: [2]
 - from: "11:05"
   to: "11:50"
   talk: "The Architecture of Wemlin Hub"
   speakers: [3,4]
 - from: "11:55"
   to: "12:15"
   talk: "State of the Lambda"
   speakers: [0]
 - from: "12:15"
   to: "13:00"
   talk: "Lunch break"
   speakers: []
 - from: "13:00"
   to: "13:45"
   talk: OhmDB db = Ohm.db("my.db");
   speakers: [5]
 - from: "13:50"
   to: "14:20"
   talk: Automated Testing using RobotFramework Libraries
   speakers: [6]
 - from: "14:25"
   to: "14:45"
   talk: Android and the real world
   speakers: [7]
 - from: "14:45"
   to: "14:55"
   talk: 10 min break
   speakers: []
 - from: "14:55"
   to: "15:15"
   talk: Java Into the Cloud
   speakers: [8]
 - from: "15:20"
   to: "16:00"
   talk: Java FX
   speakers: [9]
 - from: "16:05"
   to: "16:35"
   talk: "Micro &amp; Mobile : Java on the Raspberry Pi"
   speakers: [1]
---
{% include date_location_time.html %}

{% assign speakers = site.data.speakers-2013 %}

{% include agenda.html %}

{% include speaker_abstract.html %}