---
title:  "JavaSkop 2015"
date:   2015-12-13 09:30:00
start: "10:00"
end: "17:00"
location: "Cineplexx, Skopje city mall, Halls 5 & 6"
agendasix:
 - from: "9:00"
   to: "10:00"
   talk: "Registration and coffee"
   speakers: []
 - from: "10:00"
   to: "10:10"
   talk: "Opening"
   speakers: []
 - from: "10:10"
   to: "10:50"
   talk: "Keynote session"
   speakers: [] 
 - from: "10:50"
   to: "11:10"
   talk: "Cofee break"
   speakers: []
 - from: "11:10"
   to: "11:50"
   talk: "Talk 40 minutes"
   speakers: []
 - from: "11:50"
   to: "13:00"
   talk: "Lunch break"
   speakers: []
 - from: "13:00"
   to: "13:40"
   talk: "Talk 40 minutes"
   speakers: []
 - from: "13:40"
   to: "14:00"
   talk: "Cofee break"
   speakers: []
 - from: "14:00"
   to: "14:20"
   talk: "Talk 20 minutes"
   speakers: []
 - from: "14:20"
   to: "14:30"
   talk: "Short break"
   speakers: []
 - from: "14:30"
   to: "14:50"
   talk: "Talk 20 minutes"
   speakers: []
 - from: "14:50"
   to: "15:10"
   talk: "Energy Break"
   speakers: []
 - from: "15:10"
   to: "15:50"
   talk: "Talk 40 minutes"
   speakers: []
 - from: "15:50"
   to: "16:00"
   talk: "Short break"
   speakers: []
 - from: "16:00"
   to: "16:20"
   talk: "Ignite talks"
   speakers: []
 - from: "16:20"
   to: "16:40"
   talk: "Closing and rewards"
   speakers: []
agendafive:
 - from: "11:10"
   to: "11:50"
   talk: "Talk 40 minutes"
   speakers: []
 - from: "11:50"
   to: "13:00"
   talk: "Lunch break"
   speakers: []
 - from: "13:00"
   to: "13:40"
   talk: "Talk 40 minutes"
   speakers: []
 - from: "13:40"
   to: "14:00"
   talk: "Cofee break"
   speakers: []
 - from: "14:00"
   to: "14:20"
   talk: "Talk 20 minutes"
   speakers: []
 - from: "14:20"
   to: "14:30"
   talk: "Short break"
   speakers: []
 - from: "14:30"
   to: "14:50"
   talk: "Talk 20 minutes"
   speakers: []
 - from: "14:50"
   to: "15:10"
   talk: "Energy Break"
   speakers: []
 - from: "15:10"
   to: "15:50"
   talk: "Talk 40 minutes"
   speakers: []
---
{% include date_location_time.html %}

{% assign speakers = site.data.speakers-2015 %}

{% include agenda56.html %}

{% include speaker_abstract.html %}
