---
title:  "JavaSkop 2015"
date:   2015-12-13 09:30:00
start: "10:00"
end: "17:00"
location: "Cineplexx, Skopje City Mall, Halls 5 & 6"
agendasix:
 - from: "9:00"
   to: "10:00"
   talk: "Registration and coffee"
   speakers: []
 - from: "10:00"
   to: "10:10"
   talk: "Opening"
   speakers: [3]
 - from: "10:10"
   to: "10:50"
   talk: "Finally a modular Java"
   description: >
    Java is now modular. No really, this time it's for real. 
    Let's see what does that mean for the developer.
   speakers: [1] 
 - from: "10:50"
   to: "11:10"
   talk: "Break"
   speakers: []
 - from: "11:10"
   to: "11:50"
   talk: "Java Time Travel"
   speakers: [2]
 - from: "11:50"
   to: "12:00"
   talk: "Break"
   speakers: []
 - from: "12:00"
   to: "12:20"
   talk: "Hybrid Tips & Tricks"
   speakers: []
 - from: "12:20"
   to: "13:00"
   talk: "Lunch break"
   speakers: []
 - from: "13:00"
   to: "13:40"
   talk: "Docker from Dev to Prod"
   speakers: [6]
 - from: "13:40"
   to: "14:00"
   talk: "Cofee break"
   speakers: []
 - from: "14:00"
   to: "14:40"
   talk: "Stand Up Comedy about Software Project/Product Management"
   speakers: []
 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []
 - from: "15:00"
   to: "15:30"
   talk: "Spring RabbitMQ"
   speakers: [4]
 - from: "15:30"
   to: "15:40"
   talk: "Break"
   speakers: []
 - from: "15:40"
   to: "16:00"
   talk: "May the UX force be with you"
   speakers: [0]
 - from: "16:00"
   to: "16:10"
   talk: "Break"
   speakers: []
 - from: "16:10"
   to: "16:15"
   talk: "Connected hardware for Software Engineers 101"
   speakers: [3]
 - from: "16:15"
   to: "16:20"
   talk: "Spring best practices"
   speakers: []
 - from: "16:20"
   to: "16:25"
   talk: "Face feature detection using Java (openCV)"
   speakers: [] 
 - from: "16:25"
   to: "16:30"
   talk: "A for Algorithms"
   speakers: [] 
 - from: "16:30"
   to: "16:50"
   talk: "Rewards and closing"
   speakers: [3]
agendafive:
 - from: "11:10"
   to: "11:50"
   talk: "Spring Cloud Netflix"
   speakers: []
 - from: "11:50"
   to: "12:00"
   talk: "Break"
   speakers: []
 - from: "12:00"
   to: "12:20"
   talk: "Intro to Gradle"
   speakers: []
 - from: "12:20"
   to: "13:00"
   talk: "Lunch break"
   speakers: []
 - from: "13:00"
   to: "13:40"
   talk: "Thinking reactive"
   speakers: []
 - from: "13:40"
   to: "14:00"
   talk: "Cofee break"
   speakers: []
 - from: "14:00"
   to: "14:40"
   talk: "JS Modularization - The Restaurant approach"
   speakers: [5]
 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []
 - from: "15:00"
   to: "15:30"
   talk: "Automation(testing).selenium();"
   speakers: []
 - from: "15:30"
   to: "15:40"
   talk: "Break"
   speakers: []
 - from: "15:40"
   to: "16:00"
   talk: "Monads in Javascript?"
   speakers: []
---
<div style="text-align: center; "><img src="/images/JavaSkop.png" style="width: 100%;" /><br/></div>

{% include date_location_time.html %}

{% assign speakers = site.data.speakers-2015 %}

{% include agenda56.html %}

{% include speaker_abstract.html %}
