---
title:  "JavaSkop 2015"
date:   2015-12-13 09:30:00
start: "10:00"
end: "17:00"
location: "Cineplexx, Skopje City Mall, Halls 5 & 6"
agendasix:
 - from: "9:00"
   to: "10:00"
   talk: "Registration and coffee"
   speakers: []
 - from: "10:00"
   to: "10:10"
   talk: "Opening"
   speakers: [3]
   istalk: "yes"
 - from: "10:10"
   to: "10:50"
   talk: "Java Time Travel"
   description: >
    Time travel through Java's life span:<br/> 
      How it all started 20 years ago. <br/>
      Where, What and Why is Java today. <br/>
      Java Future plans, what to expect in next years.<br/> 
      How to get involved?
   speakers: [2]
   istalk: "yes" 
 - from: "10:50"
   to: "11:10"
   talk: "Break"
   speakers: []
 - from: "11:10"
   to: "11:50"
   talk: "Docker from Dev to Prod"
   description: >
    A quick introduction to the docker technology followed by where the road to Docker may head to: Continuous Deployment, DevOps, High Availability Setups.
   speakers: [6]
   istalk: "yes"
 - from: "11:50"
   to: "12:00"
   talk: "Break"
   speakers: []
 - from: "12:00"
   to: "12:20"
   talk: "Face feature detection using Java (openCV)"
   description: >
    What is OpenCV and how face detection works using Haar Cascade Classifiers?
    How to use these classifiers to make face features detection, eyes, nose, mouth, ears and face skin, and how to improve face detection by using squares of interests.
   speakers: [10] 
   istalk: "yes"
 - from: "12:20"
   to: "13:00"
   talk: "Lunch break"
   speakers: []
 - from: "13:00"
   to: "13:40"
   talk: "Android Pulse"
   description: >
    Android - beginning, current status and future expectations. Non-contact heart pulse measurement on multiple people simultaneously, in real time and how it is possible on Android with use case.
   speakers: [18]
   istalk: "yes"
 - from: "13:40"
   to: "14:00"
   talk: "Coffee and energy break"
   speakers: []
 - from: "14:00"
   to: "14:40"
   talk: "Stand Up Comedy about Software Project/Product Management"
   description: >
    Ironic and fun approach on Project & Product Management addressing most common "Headaches" from different perspectives. One purpose to find the "Cure" for the Software Industry - or at least try.
   speakers: [17]
   istalk: "yes"
 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []
 - from: "15:00"
   to: "15:30"
   talk: "Spring RabbitMQ"
   description: >
    A practical overview of the support that the Spring framework provides for the AMQP protocol and in particular - 
    the utilities provided by the framework for integration with the RabbitMQ message broker.
   speakers: [4]
   istalk: "yes"
 - from: "15:30"
   to: "15:40"
   talk: "Break"
   speakers: []
 - from: "15:40"
   to: "16:00"
   talk: "May the UX force be with you"
   description: >
    Angular, React, ECMAscript6 and all the other cool and trendy frameworks/languages are great from a technical perspective, but here's the thing: the user doesn't care. 
    What he or she does care about is that software is intuitive, easy to use, looks good and feels good.
    So you should not just care about the technology, but also about the User Experience.
   speakers: [0]
   istalk: "yes"
 - from: "16:00"
   to: "16:10"
   talk: "Break"
   speakers: []
 - from: "16:10"
   to: "16:15"
   talk: "Connected hardware for Software Engineers 101"
   description: >
    Quick introduction of how you can code your own $5 hardware in Java or Arduino, and connect it to the world.
   speakers: [3]
   istalk: "yes"
 - from: "16:15"
   to: "16:20"
   talk: "Spring best practices"
   description: >
    Common topics that arise when using the Spring framework for application development, practices that should be followed while configuring the application context, dependency injection, unit/integration testing, layering, templating and performance.
   speakers: [16]
   istalk: "yes"
 - from: "16:20"
   to: "16:25"
   talk: "Hybrid Tips & Tricks"
   description: >
    Set of simple, yet powerful, JavaScript tips, tricks and best practices that should be known by all hybrid mobile app developers. 
   speakers: [11]
   istalk: "yes"
 - from: "16:25"
   to: "16:35"
   talk: "A for Algorithms"
   description: >
    Real life examples on why you should cherish your algorithm knowledge.
   speakers: [14] 
   istalk: "yes"
 - from: "16:30"
   to: "16:50"
   talk: "Rewards and closing"
   speakers: [3]
   istalk: "yes"
agendafive:
 - from: "11:10"
   to: "11:50"
   talk: "Spring Cloud Netflix"
   description: >
    Handling microservices with Spring Boot and the Netflix OSS stack.
    Enable and configure the common microservices patterns inside your application and build large distributed systems with battle-tested Netflix components. 
   speakers: [8]
   istalk: "yes"
 - from: "11:50"
   to: "12:00"
   talk: "Break"
   speakers: []
 - from: "12:00"
   to: "12:20"
   talk: "Intro to Gradle"
   description: >
    Quick introduction on what is Gradle, how and for what you should use it.
   speakers: [9]
   istalk: "yes"
 - from: "12:20"
   to: "13:00"
   talk: "Lunch break"
   speakers: []
 - from: "13:00"
   to: "13:40"
   talk: "Thinking reactive"
   description: >
    As reactive architectures gain in popularity, more and more developers find themselves faced with the challenge of "thinking reactive". It's a lot about letting go of old imperative and stateful habits of typical programming, and forcing your brain to work in a different paradigm. 
   speakers: [7]
   istalk: "yes"
 - from: "13:40"
   to: "14:00"
   talk: "Coffee and energy break"
   speakers: []
 - from: "14:00"
   to: "14:40"
   talk: "JS Modularization - The Restaurant approach"
   description: >
    What to do when you have existing monolith angular application and you need to create several app releases for different affiliates / brands with an accent on business functionality, core reusage, extensions, and all this in period of two weeks?
   speakers: [5]
   istalk: "yes"
 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []
 - from: "15:00"
   to: "15:30"
   talk: "Automation(testing).selenium();"
   description: >
    A description of the need for testing in the software industry with Selenium, and why automation is the best way that you can choose for it, to satisfy the needs of everybody from clients, management and even programmers themselves. 
   speakers: [12]
   istalk: "yes"
 - from: "15:30"
   to: "15:40"
   talk: "Break"
   speakers: []
 - from: "15:40"
   to: "16:00"
   talk: "Monads in Javascript?"
   description: >
    Javascript has taken over the world and among its other traits it's supposed to be a functional programming language. 
    Does this mean now we can use our favorite patterns in our daily jobs? 
    I have taken the journey of understanding how Monads can live in Javascript only to find out we are already using them everyday. 
    In this presentation I want to share my experience with Monads - the Javascript way.
   speakers: [15]
   istalk: "yes"
---
<div style="text-align: center; "><img src="/images/JavaSkop.png" style="width: 100%;" /><br/></div>

{% include date_location_time.html %}

{% assign speakers = site.data.speakers-2015 %}

{% include agenda56.html %}

{% include speaker_abstract.html %}
