---
title:  "JavaSkop 2017"
date:   2017-03-11 08:30:00
start: "09:00"
end: "17:00"
location: "Cineplexx, Skopje City Mall, Halls 5 & 6"
agendasix:
 - from: "8:00"
   to: "9:00"
   talk: "Registration and coffee"
   speakers: []
 - from: "9:00"
   to: "9:10"
   talk: "Opening"
   speakers: []
   istalk: "yes"
 - from: "9:10"
   to: "9:50"
   talk: "Keynote"
   speakers: []
   istalk: "yes"
 - from: "9:50"
   to: "10:10"
   talk: "Break"
   speakers: []
 - from: "10:10"
   to: "10:50"
   talk: "Talk 40'"
   speakers: []
   istalk: "yes"
 - from: "10:50"
   to: "11:10"
   talk: "Break"
   speakers: []
 - from: "11:10"
   to: "11:30"
   talk: "Talk 20'"
   speakers: []
   istalk: "yes"
 - from: "11:30"
   to: "11:40"
   talk: "Break"
   speakers: []
 - from: "11:40"
   to: "12:00"
   talk: "Talk 20'"
   speakers: []
   istalk: "yes"
 - from: "12:00"
   to: "13:00"
   talk: "Lunch break"
   speakers: []
 - from: "12:30"
   to: "12:50"
   talk: "Lunch break talk 20'"
   speakers: []
   istalk: "yes"
 - from: "13:00"
   to: "13:40"
   talk: "Talk 40'"
   speakers: []
   istalk: "yes"
 - from: "13:40"
   to: "14:00"
   talk: "Break"
   speakers: []
 - from: "14:00"
   to: "14:40"
   talk: "Talk 40'"
   speakers: []
   istalk: "yes"
 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []
 - from: "15:00"
   to: "15:20"
   talk: "Talk 20'"
   speakers: []
   istalk: "yes"
 - from: "15:20"
   to: "15:30"
   talk: "Break"
   speakers: []
 - from: "15:30"
   to: "15:50"
   talk: "Talk 20'"
   speakers: []
   istalk: "yes"
 - from: "15:50"
   to: "16:00"
   talk: "Break"
   speakers: []   
 - from: "16:00"
   to: "16:40"
   talk: "Closing keynote"
   speakers: []
   istalk: "yes"
 - from: "16:40"
   to: "16:50"
   talk: "Closing"
   speakers: []
   istalk: "yes"
 - from: "17:00"
   to: "19:00"
   talk: "Beer & Socializing"
   speakers: [] 
agendafive:
 - from: "10:10"
   to: "10:50"
   talk: "Talk 40'"
   speakers: []
   istalk: "yes"
 - from: "10:50"
   to: "11:10"
   talk: "Break"
   speakers: []
 - from: "11:10"
   to: "11:30"
   talk: "Talk 20'"
   speakers: []
   istalk: "yes"
 - from: "11:30"
   to: "11:40"
   talk: "Break"
   speakers: []
 - from: "11:40"
   to: "12:00"
   talk: "Talk 20'"
   speakers: []
   istalk: "yes"
 - from: "12:00"
   to: "13:00"
   talk: "Lunch break"
   speakers: []
 - from: "12:30"
   to: "12:50"
   talk: "Lunch break talk 20'"
   speakers: []
   istalk: "yes"
 - from: "13:00"
   to: "13:40"
   talk: "Talk 40'"
   speakers: []
   istalk: "yes"
 - from: "13:40"
   to: "14:00"
   talk: "Break"
   speakers: []
 - from: "14:00"
   to: "14:40"
   talk: "Talk 40'"
   speakers: []
   istalk: "yes"
 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []
 - from: "15:00"
   to: "15:20"
   talk: "Talk 20'"
   speakers: []
   istalk: "yes"
 - from: "15:20"
   to: "15:30"
   talk: "Break"
   speakers: []
 - from: "15:30"
   to: "15:50"
   talk: "Talk 20'"
   speakers: []
   istalk: "yes"
---
<div style="text-align: center; "><img src="/images/JavaSkop.png" style="width: 100%;" /><br/></div>

{% include date_location_time.html %}

{% assign speakers = site.data.speakers-2017 %}

{% include agenda56.html %}

{% include speaker_abstract.html %}
