---
title:  "JavaSkop 2017"
permalink: javaskop17
date:   2017-03-11 08:30:00
start: "09:00"
end: "17:00"
location: "Cineplexx, Skopje City Mall, Halls 5 & 6"
agendasix:
 - from: "8:00"
   to: "9:00"
   talk: "Registration and coffee"
   speakers: []
 
 - from: "9:00"
   to: "9:10"
   talk: "Opening"
   speakers: []
   istalk: "yes"
 
 - from: "9:10"
   to: "9:50"
   talk: "Managers and Customers - The Missing Manual"
   speakers: [0]
   istalk: "yes"
   description: >
      <p>Software projects would be so easy and pleasant without managers and customers. 
      These non-technical people are a strange breed of animal. 
      They work in IT projects, but have no idea about technology. 
      They are the boss and want to make the big decisions, but do not know what they are talking about. 
      Managers care more about Excel sheets and project plans than running software. 
      Customers want everything, by yesterday, first time right and for free of course. 
      And they love meetings, oh the meetings...</p>

      <p>In this talk, Corsin tries to provide parts of the missing manual for non-technical managers and customers. 
      Think of it as a Sir David Attenborough-type nature documentary.</p>
 
 - from: "9:50"
   to: "10:10"
   talk: "Break"
   speakers: []
 
 - from: "10:10"
   to: "10:50"
   talk: "Do not make the Monolith great again!"
   speakers: [2]
   istalk: "yes"
   description: >
      A talk that should bring more insights about why and when we decided to move to Micro-services based organization.
 
 - from: "10:50"
   to: "11:10"
   talk: "Break"
   speakers: []

 - from: "11:10"
   to: "11:30"
   talk: "How Reactive do we need to be"
   speakers: [8]
   istalk: "yes"
   description: >
      My greatest passion in programming are functional languages, the languages that were believed to be the future of AI. 
      Now they are prevailing in all other areas and concepts like Reactive, Immutable, Stateless are becoming part of our daily work. 
      Which is great, but the question is how Reactive do we really need to be. 
      I want to give my "point de vue" based on my experience with using Javascript frontend technologies for big enterprise projects.

 - from: "11:30"
   to: "11:40"
   talk: "Break"
   speakers: []

 - from: "11:40"
   to: "12:00"
   talk: "How to deploy Dockerized applications to AWS ElasticBeanstalk"
   speakers: [11]
   istalk: "yes"
   description: >
      Perhaps the easiest way  to run your application at AWS as a multi Docker container app is to use Amazon ElasticBeanstalk. 
      It allows you to quickly deploy and manage applications in the AWS Cloud and let Amazon care about the infrastructure magic.
      In my presentation I'll share my experience of using ElasticBeanstalk and automating deployment with Jenkins.

 - from: "12:00"
   to: "13:00"
   talk: "Lunch break"
   speakers: []

 - from: "12:30"
   to: "12:50"
   talk: "Flux your App via Redux"
   speakers: [16]
   istalk: "yes"
   description: >
      Quick introduction of state management in JavaScript apps using Redux

 - from: "13:00"
   to: "13:40"
   talk: "How I learned to stop worrying and love the monolith"
   speakers: [1]
   istalk: "yes"
   description: >
      Your team is starting a new project and you're thinking about doing this thingy everybody is talking about called microservices. 
      You heard that your application will scale better, the code will be more structured and easier to maintain. 
      I mean, who on Earth does monoliths in 2017?

 - from: "13:40"
   to: "14:00"
   talk: "Break"
   speakers: []

 - from: "14:00"
   to: "14:40"
   talk: "From zero to production in 1 conference talk time"
   speakers: [5]
   istalk: "yes"
   description: >
      While having fun playing with what I code, you'll learn how to easily build any web application - from simple SPAs trough a full micro-service architecture to complex enterprise applications.

 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []

 - from: "15:00"
   to: "15:20"
   talk: "User story: User can register and login into the system"
   speakers: [9]
   istalk: "yes"
   description: >
      Implementing User registration and Login functionality is a common but not a simple task. 
      It is usually guided by some business and security guidelines. 
      This talk guides you from most simple(and bad) implementations towards more complicated and secure solutions.
      While doing that you will get the basic ideas about cryptography terms like nonce, hashes, salt, rainbow-tables, key stretching as well as terms like User Enumeration, Password Enumeration etc.

 - from: "15:20"
   to: "15:30"
   talk: "Break"
   speakers: []

 - from: "15:30"
   to: "15:50"
   talk: "AWS lambda using Serverless"
   speakers: [13]
   istalk: "yes"
   description: >
      Learn the starting points for creation of scalable microservices using the serverless framework in AWS environment.

 - from: "15:50"
   to: "16:00"
   talk: "Break"
   speakers: [] 

 - from: "16:00"
   to: "16:40"
   talk: "Java 9 - Project Jigsaw"
   speakers: [4]
   istalk: "yes"
   description: >
      Here is how the story goes. 
      A girl dared to talk in a conference about a huge topic in which she is lately interested in. 
      It's a Bird...It's a Plane...It's Project Jigsaw. 
      It is big bang and it is announced for Java 9. 
      Now lets be serious:
      This presentation is envisioned as introductory talk on the changes that the modularization of the platform brings to the Java Ecosystem. 
      It is truing to answer the following questions: What it means to be on a modular platform? What are the implications of the modularization and what to expect? 
      Conceptually shows how to migrate the existing code. 
      Talks about modularity basic concepts, what problems it is truing to solve and how.
      Seriously be there! You will miss a lot if you don’t.

 - from: "16:40"
   to: "16:50"
   talk: "Closing"
   speakers: []
   istalk: "yes"

 - from: "17:00"
   to: "19:00"
   talk: "Beer & Socializing"
   speakers: [] 

agendafive:
 - from: "10:10"
   to: "10:50"
   talk: "Building your own smarthome with openHAB, Raspberry Pi and Arduino"
   speakers: [6]
   istalk: "yes"
   description: >
      Learn how you can build your own smarthome, using open-source software and hardware

 - from: "10:50"
   to: "11:10"
   talk: "Break"
   speakers: []

 - from: "11:10"
   to: "11:30"
   talk: "Spring Boot SSO in 15 min"
   speakers: [12]
   istalk: "yes"
   description: >
      Spring Boot SSO implemented with Oauth2 and Zuul proxy, focuses on client developer simplicity while providing specific authorization flows for web and desktop apps, mobile and IoT devices.

 - from: "11:30"
   to: "11:40"
   talk: "Break"
   speakers: []

 - from: "11:40"
   to: "12:00"
   talk: "Recommender Systems: What, Why, How"
   speakers: [10]
   istalk: "yes"
   description: >
      The need to offer a custom tailored experience to each user, while fitting your product to their unique personality, has become a basic product requirement. Recommender systems are an essential step towards the solution.

 - from: "12:00"
   to: "13:00"
   talk: "Lunch break"
   speakers: []

 - from: "12:30"
   to: "12:50"
   talk: "Network Application with Apache MINA"
   speakers: [17]
   istalk: "yes"
   description: >
      How to make application with excellent performances that operate on lower layers of ISO OSI.

 - from: "13:00"
   to: "13:40"
   talk: "Agile testing: why the tester is your best friend ever!"
   speakers: [7]
   istalk: "yes"
   description: >
      Agile is nice, but it's not perfect. 
      The desire for cross-functional skills can be a distraction you can do without. 
      That's why EVERY Agile team MUST have a tester. 
      They are your best friend!

 - from: "13:40"
   to: "14:00"
   talk: "Break"
   speakers: []

 - from: "14:00"
   to: "14:40"
   talk: "Test easy and prosper with Spock Framework"
   speakers: [3]
   istalk: "yes"
   description: >
      The talk will be introduction to Spock Framwork for writing elegant and concise unit tests. 
      Few real world unit tests will be live coded, showing you how to enjoy writing tests.

 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []

 - from: "15:00"
   to: "15:20"
   talk: "MicroProfile quick start"
   speakers: [15]
   istalk: "yes"
   description: >
      <p>
      Microservices are hot topic these days. 
      And it's not just another hype, but the reality - the new  deployment and delivery model of scaling and maintaining single app features lead to completely new development model.
      </p>
      <p>
      Most of the platform vendors from the Java space followed the trends and came up with powerful products in that space. As always Java EE was accused for being late for the party. Individual vendors have their own solutions, but they are still far from standard. The MicroProfile initiative is a step in the right direction. There vendors work together to define what a microservice runtime is and implement it on top of standard technologies.
      </p>
      <p>Join this session to learn more about the initiative and see it in action. </p>

 - from: "15:20"
   to: "15:30"
   talk: "Break"
   speakers: []

 - from: "15:30"
   to: "15:50"
   talk: "Javaslang - Achieve functionally eloquence with Java8"
   speakers: [14]
   istalk: "yes"
   description: >
      Javaslang is a functional library for Java8+. 
      It helps to reduce the amount of code and to increase the robustness. 
      Javaslang fuses the power of object-oriented programming with the elegance and robustness of functional programming.
---
<div style="text-align: center; "><img src="/images/JavaSkop.png" style="width: 100%;" /><br/></div>

{% include date_location_time.html %}

{% assign speakers = site.data.speakers-2017 %}

{% include agenda56_17.html %}

{% include speaker_abstract.html %}
