---
title:  "JavaSkop 2018"
permalink: javaskop18
date:   2018-03-31 08:30:00
start: "09:00"
end: "17:00"
location: "Cineplexx, Skopje City Mall, Halls 5 & 6"
agendasix:
 - from: "8:00"
   to: "9:00"
   talk: "Registration"
   speakers: []
 
 - from: "9:00"
   to: "9:10"
   talk: "Opening"
   speakers: []
   istalk: "yes"
 
 - from: "9:10"
   to: "9:50"
   talk: "8, 9, 10, 11"
   speakers: [0]
   istalk: "yes"
   description: >
      The current state of Java. What is to change, what can we expect, what does the future see?
 
 - from: "9:50"
   to: "10:10"
   talk: "Coffee break"
   speakers: []
 
 - from: "10:10"
   to: "10:50"
   talk: "Going Reactive with Spring 5"
   speakers: [1]
   istalk: "yes"
   description: >
      <p>In recent times, Reactive Programming has gained a lot of popularity. It is not a “silver bullet” nor it is a solution for every problem. Yet, it is a paradigm to build applications which are non-blocking, event-driven and asynchronous and require a small number of threads to scale.</p> 
      <p>Spring Framework 5 embraces Reactive Streams and Reactor for its own reactive use, as well as in many of its core APIs. It also adds an ability to code in a declarative way, as opposed to imperatively, resulting in more responsive and resilient applications. On top of that, you are given an amazing toolbox of functions to combine, create and filter any data stream. It becomes easy to support input and output streaming scenarios for microservices, scatter/gather, data ingestion, and so on. This presentation is about support and building blocks for reactive programming, that come with the latest versions of Spring Framework 5 and Spring Boot 2.</p>
 
 - from: "10:50"
   to: "11:10"
   talk: "Break"
   speakers: []

 - from: "11:10"
   to: "11:30"
   talk: "Structuring Large Angular Applications"
   speakers: [2]
   istalk: "yes"
   description: >
      Our approach in structuring Angular applications in vertical slices, pages and components alongside with its advantages and drawbacks.

 - from: "11:30"
   to: "11:40"
   talk: "Break"
   speakers: []

 - from: "11:40"
   to: "12:00"
   talk: "Post-Agile Methodologies and all that Jazz"
   speakers: [3]
   istalk: "yes"
   description: >
      An overview of some new Post-Agile methodologies and ideas. What do they bring, what do they change, and what questions they answer regarding the progress of Agile.

 - from: "12:00"
   to: "13:00"
   talk: "Lunch break"
   speakers: []

 - from: "12:30"
   to: "12:50"
   talk: "PageSpeed as a feature - small set of best practices"
   speakers: [4]
   istalk: "yes"
   description: >
      Why is PageSpeed important and should not be ignored by developers. Techniques to boost up your PageSpeed.

 - from: "13:00"
   to: "13:40"
   talk: "Functional programming showdown: Java vs Scala vs Kotlin"
   speakers: [5]
   istalk: "yes"
   description: >
      Get a grasp of what functional programming really is and learn about other programming languages than Java with many examples of common functional programming concepts implemented in Java, Scala and Kotlin.

 - from: "13:40"
   to: "14:00"
   talk: "Cofee and energy break"
   speakers: []

 - from: "14:00"
   to: "14:40"
   talk: "AWS architecture problems while being fancy"
   speakers: [6]
   istalk: "yes"
   description: >
      Demystification of an AWS architecture, with all of its fancyness, hidden traps and all the good things that can come out of it. A showcase of our AWS product which serves millions of users every day.

 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []

 - from: "15:00"
   to: "15:40"
   talk: "Microservices external API and data management patterns"
   speakers: [7]
   istalk: "yes"
   description: >
      <p>Several years since they have been introduced to the world, microservices continue to be the “hot topic” among developers, now more than ever. The benefits which this architectural style brings when developing large and complex application are well known, but so are its pitfalls.</p>
      <p>As with everything else, using microservices comes with a price in the form of increased complexity of the technical solution. Service communication over the wire introduces latency and is prone to network failures, data scattered among multiple database systems can’t be changed within a single transaction, etc. The adoption of microservices patterns can ease this pain.</p> 
      <p>The presentation explores some of the commonly used microservices patterns related to external API design and data management which allow the data to be recorded into, replicated among and read from multiple microservices in an efficient manner.</p>

 - from: "15:40"
   to: "16:00"
   talk: "Break"
   speakers: [] 

 - from: "16:00"
   to: "16:40"
   talk: "Building and operating a 10milion user platform"
   speakers: [8]
   istalk: "yes"
   description: >
      In a world where everyone is dreaming of building the next Facebook i would try to give an overview of the challenges we face when building highly scalable architectures and a walk-through of the  current frameworks, tools and principles that aim to make this journey bearable and exiting.

 - from: "16:40"
   to: "16:50"
   talk: "Closing"
   speakers: []
   istalk: "yes"

 - from: "17:00"
   to: "19:00"
   talk: "Beer and Socializing"
   speakers: [] 

agendafive:
 - from: "10:10"
   to: "10:50"
   talk: "Processing of big data with Apache Spark"
   speakers: [9]
   istalk: "yes"
   description: >
      What is Datalake and when do we need it?
      Why Spark and are there alternatives?
      Developers perspective.

 - from: "10:50"
   to: "11:10"
   talk: "Break"
   speakers: []

 - from: "11:10"
   to: "11:30"
   talk: "Ethereum - The Blockchain of Blockchains"
   speakers: [10]
   istalk: "yes"
   description: >
      Quick introduction of what Blockchain is, how to create your own coin with Ethereum and how does mining actually work.

 - from: "11:30"
   to: "11:40"
   talk: "Break"
   speakers: []

 - from: "11:40"
   to: "12:00"
   talk: "Code or Something like It"
   speakers: [11]
   istalk: "yes"
   description: >
      Talk which covers various subjects of coding, with main accent on anti-patterns observed on quite bad third party code. There will be lots of creative images / thoughts, so amusement is guaranteed.

 - from: "12:00"
   to: "13:00"
   talk: "Lunch break"
   speakers: []

 - from: "12:30"
   to: "12:50"
   talk: "So, you say CSS is not fun at all?"
   speakers: [12]
   istalk: "yes"
   description: >
      An overview of writing better CSS, with a little humour. This presentation will be separated in 3 chapters (parts). In the first one we have an introduction to the new era of positioning and building layouts with the new features that are included in the modern CSS. Part two will be about all the hidden colour names in the hexadecimal code and how to make a creative colour palette. Number three, last but not least class names are important, so give them a name that nobody will forget that easy. 

 - from: "13:00"
   to: "13:40"
   talk: "AI and Machine Learning – why should we care?"
   speakers: [13]
   istalk: "yes"
   description: >
      AI and Machine learning are concepts that are older than most people think, but right now they are hot topics in the media and the IT business. Employers and customers are trawling the market for people with mathematical backgrounds. What has happened? What are the facts as opposed to the “Buzz”? Why should we care?

 - from: "13:40"
   to: "14:00"
   talk: "Coffee and energy break"
   speakers: []

 - from: "14:00"
   to: "14:40"
   talk: "Java on the GPU. Where are we now?"
   speakers: [14]
   istalk: "yes"
   description: >
      We will take a look what actually a GPU is. In the beginning we will have a small introduction on how it has evolved throw years. We will see how it can be utilized in the Java world. There will be a small intro to the world of OpenGL. And then we are going to move to CUDA and OpenCL technologies for general purpose massive computations on regular desktops or cloud machines. We will see what are the advantages and what are the main drawbacks, how can we ease the use from java and utilize GPUs in the clouds.

 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []

 - from: "15:00"
   to: "15:40"
   talk: "Automating financial processes using Machine Learning"
   speakers: [15]
   istalk: "yes"
   description: >
      The goal of this presentation is to describe the solutions and problems experienced during the development of an intelligent system, with the purpose of automating a time-consuming process from the financial industry. From a business need to a production-ready application, the lifetime of the project is filled with trending practices and technologies combined with demanding performance and scalability requirements. 
---
<div style="text-align: center; "><img src="/images/JavaSkop.png" style="width: 100%;" /><br/></div>

{% include date_location_time.html %}

{% assign speakers = site.data.speakers-2018 %}

{% include agenda56_18.html %}

{% include speaker_abstract.html %}
