---
title:  "JavaSkop 2019"
permalink: javaskop19
date:   2019-03-30 08:30:00
start: "09:00"
end: "17:00"
location: "Cineplexx, Skopje City Mall, Halls 5 & 6"
agendasix:
 - from: "8:00"
   to: "9:00"
   talk: "Registration"
   speakers: []
 
 - from: "9:00"
   to: "9:10"
   talk: "Opening"
   speakers: []
   istalk: "yes"
 
 - from: "9:10"
   to: "9:50"
   talk: "A deterministic way to run and test your applications with Testcontainers"
   speakers: [0,1]
   istalk: "yes"
   description: >
      Ever needed to install PostgreSQL, Redis, Elasticsearch, Kafka, and what not before being able to run the application on your dev environment? Your teammate has to do the same thing and then someone needs to repeat that on the CI server to allow integration tests to run. If only there was a way to skip this tedious process and just run your application without any hassle.
      Testcontainers provides a deterministic way of running and testing your applications. It automates the environment setup by leveraging Docker so you don’t need to do it manually, and spins up Docker containers for the duration of the integration tests and tears them down once the test execution has finished.
 
 - from: "9:50"
   to: "10:10"
   talk: "Coffee break"
   speakers: []
 
 - from: "10:10"
   to: "10:50"
   talk: "Spring and Kotlin, is it a functional relationship?"
   speakers: [2]
   istalk: "yes"
   description: >
      I want to show you how you can write your Spring applications more efficiently with expressive, short and readable code in Kotlin. This is all backed with experience in using Kotlin with Spring for more than two years.
 
 - from: "10:50"
   to: "11:10"
   talk: "Break"
   speakers: []

 - from: "11:10"
   to: "11:30"
   talk: "Back in the days, developers used to write boilerplate code"
   speakers: [3]
   istalk: "yes"
   description: >
      Give a machine a code and you have solved one problem; teach a machine to code and you save yourself from lot of boilerplate code and testing.

 - from: "11:30"
   to: "11:40"
   talk: "Break"
   speakers: []

 - from: "11:40"
   to: "12:00"
   talk: "JUnit: Revenge of the 5th"
   speakers: [4]
   istalk: "yes"
   description: >
      JUnit is back with all-new features, ready to correct the mistakes of its predecessor. This presentation points out the major differences between JUnit 4 and JUnit 5 with focus on the novelties, and discusses the strategies for migrating from the former to the latter.

 - from: "12:00"
   to: "13:00"
   talk: "Lunch break"
   speakers: []

 - from: "12:30"
   to: "12:50"
   talk: "Swagger Codegen for lazy developers"
   speakers: [6]
   istalk: "yes"
   description: >
      Live code session for developing client and server application using one single source (yaml) of truth. 

 - from: "13:00"
   to: "13:40"
   talk: "Boilerhate - hate for boilerplate"
   speakers: [7]
   istalk: "yes"
   description: >
      Writing code is not hard. But writing correct code is a challenge. That involves a lot more work than the production of code itself. So we aim to minimize the amount of boilerplate code we write by applying various tools to our work, in order to decrease the time we spend on menial tasks and increase the time spent on business-impacting tasks. Code generation through annotation processor or the java.lang.reflect.Proxy can and does greatly help in achieving this goal.
      Ever wondered how Spring's @Transactional, @ConfigurationProperties or @Validated are applied? The presentation will explore the few ways of code generation in Java, and how Spring's BeanPostProcessor and relatives help in applying the code generation solutions automatically and on an application level.

 - from: "13:40"
   to: "14:00"
   talk: "Cofee and energy break"
   speakers: []

 - from: "14:00"
   to: "14:40"
   talk: "Introduction to DDD, CQRS, and EventSourcing with Axon Framework"
   speakers: [8]
   istalk: "yes"
   description: >
      In this talk we'll tackle concepts of DDD (Domain-Drive Design), CQRS (Command Query Responsibility Segregation) and Event Sourcing. Later on, we'll show these concepts in practice using Axon Framework.

 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []

 - from: "15:00"
   to: "15:40"
   talk: "Architectural anti-patterns when delivering a software ecosystem with Kubernetes."
   speakers: [9]
   istalk: "yes"
   description: >
      A full approach on Kubernetes with a live-coding presentation.

 - from: "15:40"
   to: "16:00"
   talk: "Break"
   speakers: [] 

 - from: "16:00"
   to: "16:40"
   talk: "The eleventh hour"
   speakers: [10]
   istalk: "yes"
   description: >
      The hour has come to switch to OpenJDK 11.

 - from: "16:40"
   to: "17:00"
   talk: "Closing and rewards"
   speakers: []
   istalk: "yes"

 - from: "17:00"
   to: "19:00"
   talk: "Beer and Socializing"
   speakers: [] 

agendafive:
 - from: "10:10"
   to: "10:50"
   talk: "Customer Driven Development"
   speakers: [11]
   istalk: "yes"
   description: >
      How nice would it be if you could address customer feedback before even releasing the product?
      Find out how the customers became part of our R&D process in vSphere Client!
      Come and see the tools we used and our success stories.

 - from: "10:50"
   to: "11:10"
   talk: "Break"
   speakers: []

 - from: "11:10"
   to: "11:30"
   talk: "Confessions of a Senior Mind"
   speakers: [12]
   istalk: "yes"
   description: >
      I'd like to confess what it feels like to be a senior, everyday problems and challenges

 - from: "11:30"
   to: "11:40"
   talk: "Break"
   speakers: []

 - from: "11:40"
   to: "12:00"
   talk: "OKRs for software engineers: A tool for personal and team growth."
   speakers: [13]
   istalk: "yes"
   description: >
      The Objectives and Key Results (OKRs) tool, has been pioneered in Intel & Google and since publicized more in recent years it has been extensively used by companies and startups all over. It is an minimal but sufficient tool to get any team up to the pace of efficiency where 1+1 > 2.
      We will walk the audience through the OKR framework by presenting two OKR use-cases in a very interactive and visual manner and in just ~ 15 minutes they will grasp the basics of this powerful and life-changing framework.

 - from: "12:00"
   to: "13:00"
   talk: "Lunch break"
   speakers: []

 - from: "12:30"
   to: "12:50"
   talk: "Not another UX presentation"
   speakers: [5]
   istalk: "yes"
   description: >
      The General idea of the presentation is presenting the different angle of how important is UX process in one current project. Showing the obstacles and difficulties in the development process if you do not research and settle right UX before you start with the work.

 - from: "13:00"
   to: "13:40"
   talk: "Continuous reliability"
   speakers: [14]
   istalk: "yes"
   description: >
      Continuous Reliability - the key principle for success with agile. Join this session to tackle challenges and pitfalls in adoption of agile principles through real-life cases. Let’s talk how can the Continuous Reliability principle strengthen the software development process from planning, management execution, development, testing and delivery perspective, aligned to customer and request management, continuous integration, automated tests, and continuous delivery with highest level of stability. All through examples that reflect on team practices and cultural changes.

 - from: "13:40"
   to: "14:00"
   talk: "Coffee and energy break"
   speakers: []

 - from: "14:00"
   to: "14:40"
   talk: "Front-end up front"
   speakers: [15]
   istalk: "yes"
   description: >
      The role of UX design and front-end engineering in planning and building more flexible and reusable components.

 - from: "14:40"
   to: "15:00"
   talk: "Break"
   speakers: []

 - from: "15:00"
   to: "15:40"
   talk: "How we managed to make our office building, a smart office building."
   speakers: [16, 17]
   istalk: "yes"
   description: >
      What is a smart building? How do we make a building "smart" (or smart enough)? Let us discuss how we came up with the idea of a smart office building, what have we achieved, what showstoppers did we ran into and how did we handle them.
---
<div style="text-align: center; "><img src="/images/JavaSkop.png" style="width: 100%;" /><br/></div>

{% include date_location_time.html %}

{% assign speakers = site.data.speakers-2019 %}

{% include agenda56_19.html %}

{% include speaker_abstract.html %}
