<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include header.html %}
<div class="container">
  <section id="main_content">
  
<!--    <div class="row" style="text-align: center; padding: 10px;"><a href="https://voxxeddays.com/microservices/"><img src="/images/banners/voxxedMicro.png" /></a></div> -->
<!--            <div class="row" style="text-align: center; padding: 10px;"><a href="https://belgrade.voxxeddays.com/"><img src="/images/banners/vdb17.png" /></a></div> -->
<!--            <div class="row" style="text-align: center; padding: 10px;"><a href="https://devoxx.be/"><img src="/images/banners/devoxx16.gif" /></a></div>  -->
    {{ content }}
  </section>
</div>

{% include footer.html %}

{% include fork_me.html %}

</body>
</html>